html {
  font-size: xx-large;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1610252175870-eff76071590b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);
  font-family: monospace;
  font-weight: bold;
  background-size: 100%;
  color: #e4efe7;
}

.form {
  padding: 50px 40px;
  background-color: #435560;
  height: auto;
  width: 400px;
  margin: auto;
}

.input {
  margin: 20px;
}

input {
  width: 300px;
  height: 30px;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 5%;
  background-color: #e4efe7;
  border-width: 0;
}
