<html>
	<head>
		<link rel="stylesheet" href="/static/index.css">
	</head>
	
	<body>
		<h1>IRIS MODEL</h1>
		<div class = "form">
			<div class = "input">
				<label>Sepal Length</label>
				<br>
				<input id="val1" placeholder = "Enter Sepal Length"></input>
				<br>
			</div>
			<div class = "input">
				<label>Sepal Width </label>
				<br>
				<input id="val2" placeholder = "Enter Sepal Width"></input>
				<br>
			</div>
			<div class = "input">
				<label>Petal Length </label>
				<br>
				<input id="val3" placeholder = "Enter Petal Length"></input>
				<br>
			</div>
			<div class = "input">
				<label>Petal Width </label>
				<br>
				<input id="val4" placeholder = "Enter Petal Width"></input>
				<br>
			</div>
			<button id="sub" class = "btn btn-large">Get Results</button>
			<br>
			<p id = "output"></p>
			<script src="/static/index.js"></script>
		</div>
	</body>
</html>